:root {
	font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;

	color: #0f0f0f;
	background-color: #f6f6f6;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;

	--shadow-col: rgba(0, 0, 0, .3);
}

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	color: black;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
	height: 100%;
	overflow-y: scroll;
	background-color: white;

	&::-webkit-scrollbar {
		display: none;
	}
}

html {
	height: 100%;
	overflow: hidden;
}

header {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
	position: sticky;
	top: 0px;
	background-color: white;
	border-bottom: solid 1px gray;

	>button {
		margin: 5px;
	}
}

button {
	position: relative;
	padding: 5px;
	border-radius: 5px;
	background-color: white;
	border: none;
	outline: solid grey 1px;
	box-shadow: 2px 2px var(--shadow-col);
	top: -1px;
	left: -1px;

	&:hover {
		cursor: pointer;
		outline-color: black;
	}

	&:active {
		box-shadow: 0px 0px;
		top: 0px;
		left: 0px;
		outline-color: gray;
	}
}

.hidden {
	display: none;
}

.list-section {
	display: grid;
	width: calc(100% - 10px);
	border-radius: 5px;
	outline: gray solid 1px;
	margin: 5px;
	box-shadow: 2px 2px var(--shadow-col);
	grid-template-columns: 1fr;
	background-color: white;

	>h1 {
		font-size: 1.5em;
		padding: 5px;
		width: 100%;
		z-index: 0;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		text-align: center;
		grid-column: 1;
		grid-row: 1;
		user-select: none;

		&::before {
			content: "⮛";
			position: absolute;
			right: 5px;
			color: gray;
		}
	}

	>input {
		height: 100%;
		width: 100%;
		z-index: 1;
		opacity: 0%;
		grid-column: 1;
		grid-row: 1;

		&:hover {
			cursor: pointer;

			~h1::before {
				color: black;

			}
		}

		&:not(:checked) {
			~ul {
				height: 0px;
				border-top: none;
			}

			~h1::before {
				content: "⮘";
			}
		}

	}

	>ul {
		grid-column: 1;
		grid-row: 2;
		width: 100%;
		border-top: solid gray 1px;
		overflow: hidden;

		>li {
			background-color: white;
			user-select: none;
			overflow: hidden;
			list-style-type: none;

		}
	}

	&.category-list {
		ul {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			flex-wrap: wrap;

			>li {
				margin: 3px;
				padding: 3px;
				border: solid gray 1px;
				border-radius: 5px;
				box-shadow: 2px 2px var(--shadow-col);

				>p {
					width: 200px;
					text-align: center;
				}

				>ul {
					display: none;
				}
			}

			&::after {
				content: "";
				flex: auto;
			}
		}
	}

	&.bookmark-list {

		>ul {
			display: flex;
			justify-content: flex-start;
			align-items: flex-start;
			flex-direction: column;

			>li {
				display: grid;
				grid-template-columns: 1fr 1fr;
				width: 100%;

				&:nth-of-type(2n + 1) {
					background-color: lightgray;
				}

				&:hover {
					background-color: lightblue;
					cursor: pointer;

					>p:nth-child(1) {
						color: navy;
					}
				}

				>p {
					display: none;
					white-space: nowrap;
					text-overflow: ellipsis;
					overflow: hidden;
					margin: 3px;

					&.bookmark-url,
					&.bookmark-info {
						display: inline-block;
					}

					&.bookmark-info {
						font-weight: bold;
						grid-column: 1;
						grid-row: 1;
					}

					&.bookmark-url {
						text-decoration: underline;
						grid-column: 2;
						grid-row: 1;
					}
				}

				>button {
					&.open-url {
						opacity: 0%;
						grid-column: 1 / span 2;
						grid-row: 1;

					}

					&.item-collapse {
						display: none;
					}
				}

				&.extended {
					display: grid;
					grid-template-columns: auto 1fr;

					&:not(:last-child) {
						border-bottom: solid gray 1px;
					}

					&:hover {
						background-color: white;
						cursor: default;

						>p.bookmark-info {
							color: black;
						}

						&:nth-child(2n + 1) {
							background-color: lightgray;
						}
					}

					>p {
						width: 100%;
						font-weight: normal;

						&.bookmark-info {
							font-weight: normal;
							grid-column: 2;
							grid-row: 1;

							&::before {
								content: "Name:";
								margin-right: 5px;
								font-weight: bold;
								font-style: italic;
							}
						}

						&.bookmark-url {
							text-decoration: none;
							grid-column: 2;
							grid-row: 2;

							&::before {
								content: "URL:";
								margin-right: 5px;
								font-weight: bold;
								font-style: italic;
							}
						}
					}

					>button {
						grid-column: 1;
						margin: 3px;
						opacity: 100%;
						text-align: center;
						display: inline-block;

						&.item-collapse {
							grid-row: 1;
						}

						&.open-url {
							grid-row: 2;
						}
					}
				}
			}

		}
	}
}
